body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.center {
  display: flex;
  justify-content: center;
}

#changeData {
  margin-top: 100px;
}

.red {
  color: red;
}

.texto {
  font-size: 40pt;
  margin-left: 10px;
}

#inputContainer {
  margin-top: 80px;
}

.input {
  border: 2px solid black;
  font-size: 18pt;
  padding-left: 15px;
  height: 50px;
  width: 50%;
  border-radius: 5px
}

#msgContainer {
  margin-top: 15px;
  display: none;
}

#msg {
  font-size: 18pt;

}

/* Ajuste na Responsividade */
@media (max-width: 600px) {
  .input {
    width: 75%;
  }
}